
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body{
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 18px;
        background: url(./images/bg-header-desktop.png) no-repeat;
        background-size: contain;
    }
    
    :is(h3){
        font-size: 1.6rem;
        font-weight: 600;
        color: hsl(210, 10%, 33%);
        padding-block-end: 1rem;
    }
    
    :is(p){
        font-size: 0.8rem;
        font-weight: 400;
        color: hsl(201, 11%, 66%);
        padding-block-end: 1rem;
        margin: auto;
    }
    
    :is(.section-1, .section-2, .section-4, .features, .icon, .section-7) > p{
        line-height: 1.7;
        max-width: 600px;
    }
    
    #container{
        max-width: 1440px;
        text-align: center;
        margin: auto;
        overflow: hidden;
        padding: 130px 0 0 0;
    }

    .section-1 {
        text-align: center;
    }
    
    .section-1 img{
        margin-block-end: 3rem;
        width: 100px;
        height: 100px;
    }

    .button button {
        padding: 10px 40px;
        border-radius: 20px;
        margin-block-start: 0.3rem;
        color: white;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
    
    .button #btn1{
        background-color: hsl(171, 66%, 44%);
        border: none;
        cursor: pointer;
        box-shadow: 0 5px 20px -5px hsl(171, 66%, 38%);
        margin-right: 0.4rem;
    }
        
    .button #btn2{
        background-color: hsl(233, 100%, 69%);
        border: none;
        cursor: pointer;
        box-shadow: 0 5px 20px -5px hsl(233, 77%, 62%);
    }

    #btn1:hover, #btn1:focus{
        transform: scale(1.05);
        outline: inset;
        outline-offset: 5px;
        background: linear-gradient(90deg, hsl(225, 2%, 56%), hsl(182, 37%, 28%), hsl(171, 66%, 44%));
    }

    #btn2:hover, #btn:focus{
        transform: scale(1.05);
        outline: inset;
        outline-offset: 5px;
        background: linear-gradient(90deg, hsl(220, 2%, 74%), hsl(226, 22%, 45%), hsl(225, 66%, 44%));
    }
        
    .section-2 {
        padding-block-start: 6rem;
        padding-block-end: 1rem;
    }

    .section-3 {
        display: flex;
    }
    
    .section-3 .image {
        width: 50%;
        overflow: hidden;
    }

    .section-3 .image img{
        display: block;
        width: 105%;
        height: auto;
        transform: translateX(-5%);
    }

    .section-3 .text-group{ 
        width: 50%;
        text-align: left;
        padding: 80px 110px;
    }
    
    .section-3 .text-group .text h3{
        margin-bottom: 10px;
    }

    .section-3 .text-group .text p{
        line-height: 1.7;
        font-size: 0.8rem;
    }
    
    .section-4 h3{
        padding-block-start: 6rem;
        padding-block-end: 1rem;
    }
    
    .section-4 p{
        padding-block-end: 3rem;
    }
    
    .section-4 img{
        display: block;
        margin: auto;
    }
    
    .features{
        padding: 0 70px;
    }

    .features h3{
        padding-block-start: 3rem;
        padding-block-end: 1rem;
    }
    
    .features p{
        padding-block-end: 3rem;
    }
    
    .features .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .features .icon {
        max-width: 500px;
    }

    .features .icon img{
        height: 30px;
        width: 40px;
        margin-block-end: 1rem;
    }

    .features .icon h3{
        padding: 0 0 10px 0;
    }

    .features .icon p{
        padding: 0 20px;
    }

    .logos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 80px 100px;
        padding: 0 120px;
        place-items: center;
        padding-block-start: 6rem;
    }
    
    .logos img{
        height: 35px;
        width: 100px;
        margin-block-start: 2rem;
    }
    .section-7 {
        padding-block-start: 6rem;
        padding-block-end: 6rem;
    }
    
    footer{
        background: hsl(216, 21%, 91%);
        padding: 0 120px;
        display: grid;
        grid-template-columns: minmax(150px, 1fr) 4fr minmax(170px, 1fr);
        align-items: center;
        padding-block-start: 2rem;
        padding-block-end: 2rem;
    }

    footer img{
        width: 70px;
        height: 70px;
    }

    footer .tags{
        display: grid;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        grid-gap: 20px 70px;
        max-width: 500px;
    }   

    .tags a{
        font-size: 1rem;
        font-weight: 400;
        color: hsl(201, 11%, 45%);
        text-decoration: none;
    }
        
    .social{
        display: flex;
        place-self: center flex-end;
        gap: 5px;
    }

    .social img{
        width: 20px;
        height: 20px;
    }

    .social img:not(:last-child){
        margin-right: 20px;
    }

    .attribution{
        margin: 1rem 0;
        text-align: center;
    }

    .attribution a:link{
        text-decoration: none;
    }

    .attribution a:hover{
        color: rgb(72, 130, 130);
    }

    @media screen and (max-width: 1200px) {
        .section-3{
            display: flex;
            flex-direction: column;
        }

        .section-3 .image{
            width: 80%;
            margin: auto;
        }

        .section-3 .image img{
            width: 80%;
            margin: auto;
            transform: translateX(0);
        }

        .section-3 .text-group{
            width: 100%;
            padding: 70px 0 0;
            text-align: center;
        }

        .section-3 .text-group .text p{
            margin: auto;
        }
    }
    
    @media screen and (max-width: 1024px) {
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body{
            font-family: 'Bai Jamjuree', sans-serif;
            font-size: 18px;
            background: url(./images/bg-header-mobile.png) no-repeat;
            background-size: contain;
        }
    
        .section-3{
            display: flex;
            flex-direction: column;
        }

        .section-3 .image{
            width: 80%;
            margin: auto;
        }

        .section-3 .image img{
            width: 80%;
            margin: auto;
            transform: translateX(0);
        }

        .section-3 .text-group{
            width: 100%;
            padding: 70px 0 0;
            text-align: center;
        }

        .section-3 .text-group .text p{
            margin: auto;
        }

        .section-4 h3{
            padding-block-start: 3rem;
        }

        .section-4 img{
            width: 80%;
        }

        .features .icon:not(last-child) img{
            margin-block-start: 3rem;
            margin-block-end: 1rem;
        }

        .features .icons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        footer .tags{
            grid-template-columns: repeat(2, minmax(120px, 1fr));
            grid-gap: 20px 40px;
        }   
    } 

    @media screen and (max-width: 767px) {
        :is(.section-1, .section-2, .section-4, .features, .icon, .section-7) > p{
            line-height: 1.7;
            max-width: 500px;
        }

        .section-4 p{
            line-height: 1.7;
            max-width: 500px;
        }

        .section-3 .text-group .text p{
            line-height: 1.7;
            max-width: 500px;
        }

        .features .icons {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-items: center;
        }

        .features .icon {
            max-width: 500px;
        }

        .features .icon:not(last-child) img{
            margin-block-start: 3rem;
            margin-block-end: 1rem;
        }

        footer{
            grid-template-columns: 1fr;
            place-items: center;
            grid-gap: 50px 0;
        } 

        footer .tags{
            grid-template-columns: repeat(auto-fill, minmax(120px 1fr));
            grid-gap: 30px 40px;
            max-width: 100%;
        }

        .social{
            place-self: center;
        }

        .social img:not(:last-child){
            margin-right: 35px;
        }
    }

    @media screen and (max-width: 576px) {
        :is(.section-1, .section-2, .section-3, .section-4, .features, .icon, .section-7) > p{
            line-height: 1.7;
            max-width: 100%;
        }

        :is(.section-1, .section-2, .section-3, .section-4, .features, .section-7){
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .button{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .section-3 .image{
            width: 100%;
            margin: 0;
        }

        .section-3 .image img{
            width: 100%;
            margin: 0;
        }

        .section-4 img{
            width: 100%;
        }

        .features .icons .icon p{
            padding-left: 0;
            padding-right: 0;
        }
 
        footer .tags{
            grid-template-columns: repeat(1, minmax(120px, 1fr));
            grid-gap: 20px 40px;
        }
    }